.main {
    padding-top: 10px;
}

.sKeywordInfo {
    margin: 10px 0 0 0 !important;
}

/* 块 */
/*
Github style
.main blockquote {
    padding: 0 1em;
    color: #57606a;
    border-left: 0.25em solid #d0d7de;
}
*/

.main blockquote {
    /*color: rgba(250, 200, 130, 0.6);*/
    color: #57606a;
    padding: 1rem 0 1rem 1.5rem;
    background: #f6f8fa;
    border-radius: 4px;
}
.main blockquote h1 {
    font-size: 4rem;
}
.main blockquote p {
    font-style: italic;
    margin: 0 10px;
    word-break: break-all;
}
.main blockquote p::before,
.main blockquote p::after {
    content: "“";
    font-family: Georgia, serif;
    font-size: 4rem;
    margin: -1.6rem 0 0 -1.8rem;
    position: absolute;
    opacity: 0.5;
}

.main blockquote p::after {
    content: "”";
    margin: -1rem -4rem 0 0;
}

.main blockquote cite {
    font-size: 1.5rem;
}