@charset "UTF-8";
/* 思源笔记启动会自动加载此文件 */
@import url(/appearance/themes/zhi/public/csslib/webfont.css);
/* 字体定义 */
/* 颜色定义 */
body {
  --zhi-text-color: #00323c;
  --zhi-body-bg: #f4f4f4; }

:root {
  --b3-font-family: JetBrains Mono, LXGW WenKai, -apple-system, Microsoft YaHei, Times New Roman, 方正北魏楷书_GBK;
  --b3-font-family-code: var(--b3-font-family);
  --b3-font-family-graph: var(--b3-font-family);
  --b3-font-family-emoji: var(--b3-font-family);
  --b3-font-family-math: var(--b3-font-family);
  --b3-border-radius-round: 50%; }

body {
  margin: 0;
  padding: 0;
  font-family: var(--b3-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  color: var(--zhi-text-color);
  background: var(--zhi-body-bg); }

/* -------------------------------------------------代码块样式--------------------------------------------------- */
.code-block {
  --terwer-code-tab-bg: #f3f5f7;
  border: 0.5px solid var(--b3-border-color) !important;
  border-radius: 5px !important;
  padding-top: 32px !important;
  background: var(--terwer-code-tab-bg); }

/* 代码块编辑区域/正文内容 */
.b3-typography div.hljs,
.protyle-wysiwyg div.hljs {
  padding: 8px;
  font-family: var(--b3-font-family-code);
  border-top: 0.5px solid var(--b3-border-color);
  border-radius: 0 0 5px 5px !important; }

/* 设置顶部三个mac按钮样式 */
.code-block::after {
  content: " ";
  position: absolute;
  background: #fa625c;
  box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
  border-radius: var(--b3-border-radius-round);
  top: 10px;
  left: 8px;
  height: 12px;
  width: 12px;
  z-index: 1; }

/*  ————————————————————————————————————代码块行数—————————————————————————————————— */
.protyle-linenumber__rows {
  margin-top: 32px !important;
  padding: 4px;
  background-color: var(--b3-theme-background) !important;
  margin-bottom: 0px;
  font-family: var(--b3-font-family-code);
  border-top-left-radius: 4px; }

/* 代码块行数的文字颜色 */
.protyle-linenumber__rows span::before {
  color: rgba(128, 128, 128, 0.5); }

/* 代码块的语言代码 */
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
  margin-top: 0;
  position: absolute;
  right: 3.5em;
  border-radius: 1px;
  opacity: 1 !important;
  font-family: var(--b3-font-family-code); }

.b3-typography .code-block .protyle-action .protyle-action__language::after,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language::after {
  content: "›";
  font-family: var(--b3-font-family-code);
  color: #80808080;
  opacity: 1; }

/* ————————————————————————————————集市里边代码块的主题—————————————————————————————— */
code.hljs {
  border: 1px solid var(--b3-border-color1); }

/* 复制和设置按钮样式 */
.b3-typography .code-block .protyle-action .protyle-icon,
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
  opacity: 1 !important;
  background-color: transparent !important; }

.b3-typography .code-block .protyle-action .protyle-icon svg,
.b3-typography .code-block .protyle-action .protyle-action__language svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language svg {
  color: gray; }

/* -------------------------------------------------代码块样式 END--------------------------------------------------- */
/* -------------------------------------------------打印页面适配--------------------------------------------------- */
#preview {
  /* 打印页面代码块适配 */ }
  #preview .protyle-action__language {
    right: 0.2rem !important; }
  #preview .protyle-action__language:after {
    display: none !important; }
  #preview .protyle-action__copy {
    display: none !important; }

/* -------------------------------------------------浅色模式适配--------------------------------------------------- */
html[data-theme-mode="light"] body {
  --zhi-text-color: #00323c;
  --zhi-body-bg: #f4f4f4; }

/* -------------------------------------------------暗黑模式适配--------------------------------------------------- */
html[data-theme-mode="dark"] body {
  --zhi-text-color: #9b9baa;
  --zhi-body-bg: #27272b; }

/* -------------------------------------------------护眼模式适配--------------------------------------------------- */
html[data-theme-mode-zhi="green"] body {
  --zhi-text-color: #704214;
  --zhi-body-bg: #ececcc; }

/*# sourceMappingURL=theme.css.map */
