@charset "UTF-8";
/* 思源笔记启动会自动加载此文件 */
/* 字体 */
@import url(/appearance/themes/zhi/csslib/webfont.css);
/* 颜色 */
:root {
  --b3-font-family: JetBrains Mono, LXGW WenKai, -apple-system, Microsoft YaHei, Times New Roman, 方正北魏楷书_GBK;
  --b3-font-family-code: var(--b3-font-family);
  --b3-font-family-graph: var(--b3-font-family);
  --b3-font-family-emoji: var(--b3-font-family);
  --b3-font-family-math: var(--b3-font-family);
  --b3-border-radius-round: 50%; }

/* -------------------------------------------------代码块样式--------------------------------------------------- */
.code-block {
  border-radius: 1px !important;
  --terwer-code-tab-bg: #f3f5f7;
  border: 0.1em solid var(--b3-border-color) !important;
  padding-top: 32px !important; }

/* 代码块编辑区域/正文内容 */
.b3-typography div.hljs,
.protyle-wysiwyg div.hljs {
  padding: 4px;
  font-family: var(--b3-font-family-code); }

/* 设置顶部三个mac按钮样式 */
.code-block::after {
  content: " ";
  position: absolute;
  background: #fa625c;
  box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
  border-radius: var(--b3-border-radius-round);
  top: 10px;
  left: 8px;
  height: 12px;
  width: 12px;
  z-index: 1; }

/*  ————————————————————————————————————代码块行数—————————————————————————————————— */
.protyle-linenumber__rows {
  margin-top: 32px !important;
  padding: 4px;
  background-color: var(--b3-theme-background) !important;
  margin-bottom: 0px;
  font-family: var(--b3-font-family-code);
  border-top-left-radius: 4px; }

/* 代码块行数的文字颜色 */
.protyle-linenumber__rows span::before {
  color: rgba(128, 128, 128, 0.5); }

/* 代码块的语言代码 */
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
  margin-top: 0;
  position: absolute;
  right: 3.5em;
  border-radius: 1px;
  opacity: 1 !important;
  font-family: var(--b3-font-family-code); }

.b3-typography .code-block .protyle-action .protyle-action__language::after,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language::after {
  content: "›";
  font-family: var(--b3-font-family-code);
  color: #80808080;
  opacity: 1; }

/* ————————————————————————————————集市里边代码块的主题—————————————————————————————— */
code.hljs {
  border: 1px solid var(--b3-border-color1); }

/* 复制和设置按钮样式 */
.b3-typography .code-block .protyle-action .protyle-icon,
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
  opacity: 1 !important;
  background-color: transparent !important; }

.b3-typography .code-block .protyle-action .protyle-icon svg,
.b3-typography .code-block .protyle-action .protyle-action__language svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language svg {
  color: gray; }

/* -------------------------------------------------代码块样式 END--------------------------------------------------- */
html[data-theme-mode="light"] {
  color: red; }
html body {
  --bodyBg: #f4f4f4;
  --mainBg: #fff;
  --sidebarBg: hsla(0, 0%, 100%, 0.8);
  --blurBg: hsla(0, 0%, 100%, 0.9);
  --customBlockBg: #f1f1f1;
  --textColor: #00323c;
  --textLightenColor: #0085ad;
  --borderColor: rgba(0, 0, 0, 0.12);
  --codeBg: #f6f6f6;
  --codeColor: #525252; }

html[data-theme-mode="dark"] {
  color: #ffffff; }

/*# sourceMappingURL=theme.css.map */
