/* -------------------------------------------------打印页面适配--------------------------------------------------- */
#preview
  /* 打印页面代码块适配 */

  .protyle-action__language
    right: 0.2rem !important

  .protyle-action__language:after
    display: none !important

  .protyle-action__copy
    display: none !important
//.code-block
//  --terwer-code-tab-bg: #f3f5f7
//  border: .5px solid var(--b3-border-color) !important
//  border-radius: 5px !important

//.b3-typography div.hljs, .protyle-wysiwyg div.hljs
//  background-color: #f8f9fa !important