// -------------------------------------------------颜色定义-阅读模式---------------------------------------------------
html[data-theme-mode="green"]
  --zhi-body-bg _body-bg-green
  --zhi-main-bg _main-bg-green
  --zhi-sidebar-bg _sidebar-bg-green
  // --zhi-blur-bg _blur-bg-green
  // --zhi-custom-block-bg _custom-block-bg-green
  --zhi-primary-color _primary-color-green
  --zhi-text-color _text-color-green
  // --zhi-text-lighten-color: _text-lighten-color-green
  --zhi-border-color _border-color-green
  // --zhi-code-bg _code-bg-green
  // --zhi-code-color _code-color-green
  --zhi-list-hover _list-hover-green