// -------------------------------------------------颜色定义-暗黑模式---------------------------------------------------
html[data-theme-mode="dark"]
  --zhi-body-bg _body-bg-dark
  --zhi-main-bg _main-bg-dark
  --zhi-sidebar-bg _sidebar-bg-dark
  // --zhi-blur-bg _blur-bg-dark
  // --zhi-custom-block-bg _custom-block-bg-dark
  --zhi-primary-color _primary-color-dark
  --zhi-text-color _text-color-dark
  // --zhi-text-lighten-color _text-lighten-color-dark
  --zhi-border-color _border-color-dark
  // --zhi-code-bg _code-bg-dark
  // --zhi-code-color _code-color-dark
  --zhi-list-hover _list-hover-dark