// -------------------------------------------------颜色定义-浅色模式---------------------------------------------------
html[data-theme-mode="light"]
  --zhi-body-bg _body-bg-light
  --zhi-main-bg _main-bg-light
  --zhi-sidebar-bg _sidebar-bg-light
  // --zhi-blur-bg _blur-bg-light
  // --zhi-custom-block-bg _custom-block-bg-light
  --zhi-primary-color _primary-color-light
  --zhi-text-color _text-color-light
  // --zhi-text-lighten-color _text-lighten-color-light
  --zhi-border-color _border-color-light
  // --zhi-code-bg _code-bg-light
  // --zhi-code-color _code-color-light
  --zhi-list-hover _list-hover-light