/* 多级标题 */
.b3-typography .h1, .b3-typography h1, .b3-typography .h2, .b3-typography h2, .b3-typography .h3, .b3-typography h3, .b3-typography .h4, .b3-typography h4, .b3-typography .h5, .b3-typography h5, .b3-typography .h6, .b3-typography h6, .protyle-wysiwyg .h1, .protyle-wysiwyg h1, .protyle-wysiwyg .h2, .protyle-wysiwyg h2, .protyle-wysiwyg .h3, .protyle-wysiwyg h3, .protyle-wysiwyg .h4, .protyle-wysiwyg h4, .protyle-wysiwyg .h5, .protyle-wysiwyg h5, .protyle-wysiwyg .h6, .protyle-wysiwyg h6{
    letter-spacing: 0.1em;
    color: #8b5d6c !important;
    
}

/* 标题前图标 */
.h1 > :first-child::before{
    background: url('../icon/headings/h1.svg');
    left: 0.02em;
    bottom: 0.08em;
}
.h1 > :first-child{
    padding-left: 0.5em;
}



.h2 > :first-child::before{
    background: url('../icon/headings/h2.svg');
    left: 0.02em;
    bottom: 0.08em;
}
.h2 > :first-child{
    padding-left: 0.565em;
}

.h3 > :first-child::before{
    background: url('../icon/headings/h3.svg');
    left: 0em;
    bottom: 0.12em;
}
.h3 > :first-child{
    padding-left: 0.634em;
}

.h4 > :first-child::before{
    background: url('../icon/headings/h4.svg');
    left: 0.04em;
    bottom: 0.16em;
}
.h4 > :first-child{
    padding-left: 0.7em;
}


.h5 > :first-child::before{
    background: url('../icon/headings/h5.svg');
    left: 0.05em;
    bottom: 0.34em;
}
.h5 > :first-child{
    padding-left: 0.77em;
}
/* 防止标题折叠后右侧圆点标示和小三角图标对不齐 */
/* 现在暂时用不上这段代码 */
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h5:before{
    /* top: 40% !important; */
}


.h6 > :first-child::before{
    background: url('../icon/headings/h6.svg');
    left: 0.08em;
    bottom: 0.5em;
}
.h6 > :first-child{
    padding-left: 0.8em;
}
/* 防止标题折叠后右侧圆点标示和小三角图标对不齐 */
/* 现在暂时用不上这段代码 */
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h6:before{
    /* top: 40% !important; */
}



/* 为所有标题伪元素图标设置相同的一些属性 */
.h1 > :first-child::before,.h2 > :first-child::before,.h3 > :first-child::before,.h4 > :first-child::before,.h5 > :first-child::before,.h6 > :first-child::before{
    height: 1em;
    width: 1em;
    display:inline-block;
    position: absolute;
    content: "";
    filter: brightness(76%) sepia(79%) hue-rotate(147deg) saturate(194%);
    background-position:left bottom;
    background-repeat: no-repeat;
    /* left: 0; */
    vertical-align: middle;
}


.h1 > :first-child,.h2 > :first-child,.h3 > :first-child,.h4 > :first-child,.h5 > :first-child,.h6 > :first-child{
    position: relative;
}



/* 为解决此问题做的修改：列表块中的1、2级标题的图标发生错位 https://github.com/StarDustSheep/pink-room/issues/27 */
/* 暂时可能用不上这段代码了 */
/* .list .h1 > :first-child::before{
    bottom: 0.2rem;
}
.list .h2 > :first-child::before{
    bottom: 0.2rem;
}
.list .h5 > :first-child::before{
    bottom: 0.5rem;
}
.list .h6 > :first-child::before{
    bottom: 0.56rem;
} */

