/* 修改超链接的样式 */
.protyle-wysiwyg [data-node-id] span[data-type~=a]{
    border-bottom: 1px solid var(--b3-protyle-inline-link-color);
    margin: 0px 0.3em 0px 0.2em;
    font-weight: 500;
}



/* 为超链接添加图标 */
.protyle-wysiwyg [data-node-id] span[data-type~=a]::after {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    display: inline-block;
    font-size: 100%;
    top: 0em;
    /* margin-left: 0.2em; */
    padding: 0;
    margin-right: -0.4em;
    transform: scaleY(0.8);
    transform: scale(0.4,0.6) rotate(45deg) translate(-0.2em, 0.2em);
    border-width: 0.4em;
    border-color: var(--b3-protyle-inline-link-color) var(--b3-protyle-inline-link-color) transparent  transparent;
    border-style: solid;
    transition: all 200ms ease-out;
}

/* 写一个超链接悬浮状态 */
.protyle-wysiwyg [data-node-id] span[data-type~=a]:hover {
    background-color: #07a9ff;
    box-shadow: -0.1em 0em 0 0.2em #07a9ff, 0.2em 0em 0 0.2em #07a9ff;
    border-radius: 0.1em;
    color: white;
}

.protyle-wysiwyg [data-node-id] span[data-type~=a]:hover::after {
    border-color: white white transparent  transparent;
}