@font-face {
  font-family: "方正北魏楷书简体";
  src: url("/resources/appearance/themes/Zhihu/方正北魏楷书简体.woff2") format("woff2"), url("/resources/appearance/themes/Zhihu/方正北魏楷书简体.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}