// 网页字体
/* JetBrains Mono */
@font-face
  font-family: "JetBrains Mono"
  src: url(_zhi-base-url + "fonts/JetBrainsMono-2.304/JetBrainsMono-Regular.woff2") format("woff2")
  font-weight: 400
  font-style: normal