// 网页字体
/* JetBrains Mono */
$jb-mono-url = $zhi-base-url + "fonts/JetBrainsMono-2.304/JetBrainsMono-Regular.woff2"
@font-face
  font-family: "JetBrains Mono"
  src: url($jb-mono-url) format("woff2")
  font-weight: 400
  font-style: normal