/* 修改错误信息确认气泡背景色 */
.b3-snackbar--error .b3-snackbar__content{
    background-color: #e97ca4;
}

/* 修改错误信息确认按钮样式 */
.b3-snackbar--error .b3-button, .b3-snackbars:has(.b3-snackbar--error) .b3-button{
    background-color: #e97ca4;
    padding: 5px 8px 5px 8px;
    color: #9c3357;
}
/* 修改错误信息确认气泡按钮悬浮确认状态 */
.b3-snackbar--error .b3-button:hover, .b3-snackbars:has(.b3-snackbar--error) .b3-button:hover{
    background-color: #dd6390;
}

/* 修改信息确认气泡背景色 */
.b3-snackbars--show .b3-button{
    background-color: var(--b3-theme-primary);
    padding: 5px 8px 5px 8px;
    color: white;
}

/* 修改信息确认气泡按钮悬浮确认状态 */
.b3-snackbars--show .b3-button:hover{
    background-color: #4180b5;
}
