.protyle-title {
    border-radius: 0px;
    position: relative;
}

.protyle-title>.protyle-attr {
    top: -5px;
}


.protyle-title>div[contenteditable] {
    font-weight: 300;
    font-size: 2.5em;
    padding-right: 4.25rem;
    margin-top: 7rem;
}

.protyle-title::before {
    content: "";
    background-image: url('../src/trends.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    color: var(--b3-theme-primary);
    width: 18rem;
    display: block;
    position: absolute;
    left: 0px;
    top: -6rem;
    height: 5rem;
    font-size: 2.5rem;
}


.protyle-title::after {
    content: "";
    background-color: var(--b3-theme-primary);
    width: 8rem;
    display: block;
    position: absolute;
    right: 0px;
    top: -6rem;
    height: 5rem;
}
