// 标签与左侧间距
.protyle-background__tags
  margin-left 36px !important

// 标签操作按钮
// .protyle-icons
//   opacity 1

.protyle-background__iconw
  left 54px !important

// 标题与编辑器左侧间距
.protyle-title
  margin-top 0 !important
  margin-left 48px !important
  margin-right 48px !important

.protyle-wysiwyg
  padding-left 48px !important
  padding-right 48px !important

.protyle-wysiwyg--attr
  padding-top 0 !important