/*
 * Copyright (c) 2023, Terwer . All rights reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 only, as
 * published by the Free Software Foundation.  Terwer designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Terwer in the LICENSE file that accompanied this code.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 2 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 2 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact Terwer, Shenzhen, Guangdong, China, youweics@163.com
 * or visit www.terwer.space if you need additional information or have any
 * questions.
 */

// -------------------------------------------------代码块-Dark+适配---------------------------------------------------
html[data-theme-mode="light"][data-light-theme="Dark+"]
  .code-block
    overflow auto

  .protyle-wysiwyg [data-node-id].code-block > .protyle-action
    position absolute
    // background var(--zhi-code-tab-bg)
    background-color: var(--custom-popover-function-menu-background-color);
    backdrop-filter: var(--custom-backdrop-popover-filter);
    height 32px

  .b3-typography .code-block .protyle-action .protyle-action__language
  .protyle-wysiwyg .code-block .protyle-action .protyle-action__language
    right 2.5rem
    top 0.2rem

  .protyle-wysiwyg .code-block .protyle-action .protyle-action__copy
  .protyle-wysiwyg .code-block .protyle-action .protyle-action__menu
    margin-top 0.3rem

  .protyle-wysiwyg [data-node-id].code-block > .protyle-linenumber__rows
    padding-top 0 !important

html[data-theme-mode="dark"][data-dark-theme="Dark+"]
  .code-block
    border-radius 0 !important

  .protyle-wysiwyg [data-node-id].code-block > .protyle-action
    position absolute
    background var(--zhi-code-tab-bg)
    height 32px

  .b3-typography .code-block .protyle-action .protyle-action__language
  .protyle-wysiwyg .code-block .protyle-action .protyle-action__language
    right 2.5rem
    top 0.2rem

  .protyle-wysiwyg .code-block .protyle-action .protyle-action__copy
  .protyle-wysiwyg .code-block .protyle-action .protyle-action__menu
    margin-top 0.3rem

  .protyle-wysiwyg [data-node-id].code-block > .protyle-linenumber__rows
    padding-top 0 !important
