/*
 * MIT License
 *
 * Copyright (c) 2023. Terwer
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
// 图标
// 建议使用 iconfont ，可以调色，可以调整大小
// https://fontawesome.com/search?q=yuque&o=r&m=free
// https://www.iconfont.cn/search/index?searchType=icon&q=cnblogs&page=1&tag=&fromCollection=1&fills=
.font-awesome-icon
  width 12px
  height 12px
  margin-right 10px
  margin-top 3px

.iconfont-icon
  width 12px
  height 12px
  margin-right 10px
  margin-top 2px

#pop-content
  border-radius 4px
  box-shadow var(--b3-dialog-shadow)
  border 1px solid var(--b3-theme-surface-lighter)
  background-color var(--b3-menu-background)
  padding 8px
  z-index 999
  overflow hidden
  box-sizing border-box
  position absolute
  //height 450px
  iframe
    border none
    border-radius 5px
    margin 0
    padding 0
    overflow hidden
