// -------------------------------------------------代码块-暗黑模式---------------------------------------------------
html[data-theme-mode="dark"]
  --zhi-code-tab-bg _code-tab-bg-dark
  --zhi-code-content-bg _code-content-bg-dark