// -------------------------------------------------颜色定义-阅读模式---------------------------------------------------
html[data-theme-mode="green"]
  --zhi-code-tab-bg _code-tab-bg-green
  --zhi-code-content-bg _code-content-bg-green