// -------------------------------------------------代码块-打印模式---------------------------------------------------
#preview
  .protyle-action__language
    right 0.2rem !important

  .protyle-action__language::after
    display none !important

  .protyle-action__copy
    display none !important