// -------------------------------------------------代码块-浅色模式---------------------------------------------------
html[data-theme-mode="light"]
  --zhi-code-tab-bg _code-tab-bg-light
  --zhi-code-content-bg _code-content-bg-light