@media screen and (min-width 1px) and (max-width 719px)
  // 竖屏
  .protyle-background
    min-height 32px !important
    padding-bottom 0 !important

  .protyle-icons
    opacity 0.86 !important

  // .protyle-background__icon
  //     display: none

  .protyle-background__iconw
    left 16px !important

  .protyle-title
    margin-left 16px !important
    margin-right 16px !important

  .protyle-wysiwyg
    padding-left 16px !important
    padding-right 16px !important