@require "../fonts"

@require "basic-light"
@require "basic-dark"
@require "basic-green"

// 基础样式
\:root
  --b3-font-family: var(--zhi-font-family)
  --b3-font-family-code: var(--zhi-font-family)
  --b3-font-family-graph: var(--zhi-font-family)
  --b3-font-family-emoji: var(--zhi-font-family)
  --b3-font-family-math: var(--zhi-font-family)
  --b3-border-radius-round: var(--zhi-border-radius-round)
  --b3-theme-background: var(--zhi-body-bg)
  --b3-theme-surface: var(--zhi-sidebar-bg)

// 整体背景、字体颜色
body
  font-family: var(--zhi-font-family)
  font-size: var(--zhi-font-size)
  margin: var(--zhi-m-zero)
  padding: var(--zhi-p-zero)
  color: var(--zhi-text-color)
  background: var(--zhi-body-bg)