/* -------------------------------------------------颜色定义-阅读模式--------------------------------------------------- */
html[data-theme-mode="green"]
  --zhi-code-tab-bg: _code-tab-bg-green
  --b3-border-color: _border-color-green

  .code-block {
    border-color: _border-color-green !important
  }

  .b3-typography div.hljs,
  .protyle-wysiwyg div.hljs {
    background: var(--b3-protyle-code-background)
  }