/* -------------------------------------------------护眼模式适配--------------------------------------------------- */
//html
//  &[data-theme-mode-zhi="green"]
//    $body-bg: #ececcc
//    $main-bg: #f5f5d5
//    $sidebar-bg: rgba(245, 245, 213, 0.8)
//    $blur-bg: rgba(245, 245, 213, 0.9)
//    $custom-block-bg: #ececcc
//    $text-color: #704214
//    $text-lighten-color: #963
//    $border-color: rgba(0, 0, 0, 0.15)
//    $code-bg: #282c34
//    $code-color: #fff

body
  --zhi-text-color: $text-color
  --zhi-body-bg: $body-bg