.custom-block .custom-block-title {
    font-weight: 600;
    margin-bottom: 0.2rem;
}
.custom-block p {
    margin: 0;
}
.custom-block.tip,
.custom-block.warning,
.custom-block.danger,
.custom-block.note {
    padding: 0.5rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin: 1rem 0;
}
.custom-block.tip {
    background-color: #f3f5f7;
    border-color: #42b983;
    color: #215d42;
}
.custom-block.warning {
    background-color: #fff7d0;
    border-color: #e7c000;
    color: #6b5900;
}
.custom-block.warning .custom-block-title {
    color: #b29400;
}
.custom-block.warning a {
    color: var(--textColor);
}
.custom-block.danger {
    background-color: #ffe6e6;
    border-color: #c00;
    color: #4d0000;
}
.custom-block.danger .custom-block-title {
    color: #900;
}
.custom-block.danger a {
    color: var(--textColor);
}
.custom-block.note {
    background-color: #e8f5fa;
    border-color: #157bae;
    color: #0d4a68;
}
.custom-block.right {
    color: var(--textColor);
    font-size: 0.9rem;
    text-align: right;
}
.custom-block.theorem {
    margin: 1rem 0;
    padding: 0.8rem 1.5rem;
    border-radius: 2px;
    background-color: var(--customBlockBg);
}
.custom-block.theorem .title {
    font-weight: bold;
    margin: 0.5rem 0;
}
.custom-block.details {
    display: block;
    position: relative;
    border-radius: 2px;
    margin: 1em 0;
    padding: 1.6em;
    background-color: var(--customBlockBg);
}
.custom-block.details p {
    margin: 0.8rem 0;
}
.custom-block.details h4 {
    margin-top: 0;
}
.custom-block.details figure:last-child,
.custom-block.details p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.custom-block.details summary {
    outline: none;
    cursor: pointer;
}
.custom-block.details summary:hover {
    color: $accentColor;
}
.theme-mode-dark .custom-block.warning {
    background-color: rgba(255, 247, 208, 0.2);
    color: #e7c000;
}
.theme-mode-dark .custom-block.warning .custom-block-title {
    color: #ffdc2f;
}
.theme-mode-dark .custom-block.tip {
    background-color: rgba(243, 245, 247, 0.2);
    color: #42b983;
}
.theme-mode-dark .custom-block.danger {
    background-color: rgba(255, 230, 230, 0.4);
    color: #800000;
}
.theme-mode-dark .custom-block.danger a {
    color: $accentColor;
}
.theme-mode-dark .custom-block.note {
    background-color: rgba(243, 245, 247, 0.2);
    color: #157bae;
}
