div[data-av-type="table"]
  display flex
  flex-direction column

/* 整体 Tabs 样式 */
.db-tabs
  display flex
  flex-direction row
  border-bottom 2px solid #007bff
  margin-bottom 8px
  padding-bottom 4px
  flex-wrap wrap

/* Tab 标题样式 */
.db-tabs-title
  font-size 18px
  font-weight bold
  margin-bottom 8px
  color #333

/* 每个 Tab 按钮样式 */
.db-tab-button
  padding 6px 12px
  cursor pointer
  background-color transparent
  border none
  border-radius 4px
  margin-right 4px
  font-size 14px
  color #333
  transition background-color 0.2s ease, color 0.2s ease
  outline none

  &.active
    background-color #f0f8ff
    color #007bff

  &:hover
    background-color #eef6ff

/* Tab 内容容器样式 */
.db-tab-contents
  display flex
  flex-direction column
  width 100%
  padding 0 12px
  overflow-y auto
  overflow-x hidden

/* 每个 Tab 内容 */
.db-tab-content
  display none
  flex 1 0 auto
  opacity 0
  transition opacity 0.3s ease

  &.active
    display block !important
    opacity 1

/* 表格样式 */
.db-data-table
  width 100%
  border-collapse collapse
  margin-top 12px
  font-size 14px
  border-radius 8px
  overflow hidden
  box-shadow 0 2px 6px rgba(0, 0, 0, 0.1)

  th, td
    padding 10px 12px
    text-align left
    border-bottom 1px solid #f0f0f0
    transition background-color 0.2s ease

  th
    background-color #f9f9f9
    color #666

  td
    background-color #fff
    color #333

  tr:hover
    background-color #f9f9f9

/* 暗黑模式 */
html[data-theme-mode="dark"]
  .db-tabs
    border-bottom 2px solid #4aaef8

  .db-tabs-title
    color #ddd

  .db-tab-button
    color #ddd

    &.active
      background-color #2a3b4d
      color #4aaef8

    &:hover
      background-color #33475b

  .db-data-table
    box-shadow 0 2px 6px rgba(255, 255, 255, 0.1)

    th, td
      border-bottom 1px solid #444

    th
      background-color #2c3e50
      color #bbb

    td
      background-color #1e2d3a
      color #ddd

    tr:hover
      background-color #2c3e50

/* 数据库选项类型数据样式 */
.db-select-item
  padding 2px 4px
  border-radius 3px

.db-phone-button-group
  display inline-flex
  align-items center
  padding 4px 8px
  //background-color #f9f9f9
  border-radius 4px
  cursor pointer
  transition background-color 0.3s ease

  //&:hover
  //  background-color #e6f7ff

  .db-phone-icon
    margin-right 4px
    font-size 14px
    color #1890ff

  .db-phone-label
    margin-right 4px
    font-weight bold
    color #595959

  .db-phone-value
    color inherit
