// 整体布局
html, body
  margin 0
  padding 0
  overflow auto

#app
  margin 0
  padding 0

// 字体
body
  font-family "Open Sans", "LXGW WenKai", "JetBrains Mono", "-apple-system", "Microsoft YaHei", "Times New Roman",
  "方正北魏楷书_GBK", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif

// 思源笔记额外样式，base.css 之外的
@import "./siyuan.styl"
// vdoing 主题样式
@import "./vdoing.styl"
// 数据库
@import "./db.styl"
// 折叠块
@import "./fold.styl"

// 其他修复样式

/* added by 2.3.0 */
// overide hljs style
pre
  margin 0 !important
pre code.hljs
  padding 0 !important

/* added by 5.4.0 */
.protyle-action .b3-tooltips::before,.protyle-action .b3-tooltips::after
  display none