.b3-typography, .protyle-wysiwyg, .protyle-title
  font-size 16px !important

.b3-typography code:not(.hljs), .protyle-wysiwyg span[data-type~=code]
  font-variant-ligatures none

.li > .protyle-action
  height 34px
  line-height 34px

.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h1, .protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h2, .protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h3, .protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h4, .protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h5, .protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h6
  line-height 34px

.protyle-wysiwyg [data-node-id].li > .protyle-action:after
  height 16px
  width 16px
  margin -8px 0 0 -8px

.protyle-wysiwyg [data-node-id].li > .protyle-action svg
  height 14px

.protyle-wysiwyg [data-node-id].li:before
  height calc(100% - 34px)
  top 34px

// fix database
// v6.2.0+
//.protyle-wysiwyg [data-node-id] [spellcheck]
//  min-height 26px

.protyle-wysiwyg .li
  min-height 34px

.protyle-gutters button svg
  height 26px

.protyle-wysiwyg img.emoji, .b3-typography img.emoji
  width 18px

.protyle-wysiwyg .h1 img.emoji, .b3-typography h1 img.emoji
  width 35px

.protyle-wysiwyg .h2 img.emoji, .b3-typography h2 img.emoji
  width 31px

.protyle-wysiwyg .h3 img.emoji, .b3-typography h3 img.emoji
  width 27px

.protyle-wysiwyg .h4 img.emoji, .b3-typography h4 img.emoji
  width 25px

.protyle-wysiwyg .h5 img.emoji, .b3-typography h5 img.emoji
  width 22px

.protyle-wysiwyg .h6 img.emoji, .b3-typography h6 img.emoji
  width 20px

/* 避免正文出现横向滚动条 */
.protyle-content
  overflow hidden

/* html块隐藏操作按钮 */
div[data-type="NodeHTMLBlock"] .protyle-icons
  display none