// 浅色模式
html[data-theme-mode="light"]
  --bodyBg: #f4f4f4
  --mainBg: rgba(255,255,255,1)
  --sidebarBg: rgba(255,255,255,.8)
  --blurBg: rgba(255,255,255,.9)
  --customBlockBg: #f1f1f1
  --textColor: #00323c
  --textLightenColor: #0085AD
  --borderColor: rgba(0,0,0,.12)
  //--codeBg: #f6f6f6
  //--codeColor: #525252

// 深色模式
html[data-theme-mode="dark"]
  --bodyBg: rgb(39,39,43)
  --mainBg: rgba(30,30,34,1)
  --sidebarBg: rgba(30,30,34,.8)
  --blurBg: rgba(30,30,34,.8)
  --customBlockBg: rgb(39,39,43)
  --textColor: rgb(155,155,170)
  --textLightenColor: #0085AD
  // --borderColor: #2C2C3A
  --borderColor: #30363d
  //--codeBg: #252526
  //--codeColor: #fff

// 阅读模式
html[data-theme-mode="read"]
  --bodyBg: rgb(236,236,204)
  --mainBg: rgba(245,245,213,1)
  --sidebarBg: rgba(245,245,213,.8)
  --blurBg: rgba(245,245,213,.9)
  --customBlockBg: rgb(236,236,204)
  --textColor: #704214
  --textLightenColor: #996633
  --borderColor: rgba(0,0,0,.15)
  //--codeBg: #282c34
  //--codeColor: #fff